{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}


	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/simple-house-02.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Hayee Cell</h1>
								<h6 class="tm-site-description">Diproduksi oleh BahrulHaye CS Group</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{% url 'beranda' %}" class="tm-nav-link">Beranda</a></li>
								<li class="tm-nav-li"><a href="{% url 'tentang' %}" class="tm-nav-link active">Tentang</a></li>
								<li class="tm-nav-li"><a href="{% url 'kontak' %}" class="tm-nav-link">Kontak</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Selamat Datang di Hayee Cell</h2>
				<p class="col-12 text-center">Hayee Cell juga menyediakan berbagai macam jasa pembuatan software, seperti website profil pribadi, website perusahaan dan web skripsi :D. <br/> Happy Shopping dan jangan lupa untuk mampir.</p>
			</header>

			<div class="tm-container-inner tm-persons">
				<div class="row">
					{% for post in pegawai %}
					<article class="col-lg-6">
						<figure class="tm-person">
							<img src="{{ post.get_foto }}" style="width: 200px; height: 250px; object-fit: cover;" alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">{{ post.nama_pegawai }}</h4>
								<p class="tm-person-title">{{ post.nama_jabatan }}</p>
								<p class="tm-person-about">{{ post.deskripsi }}.</p>
								<div>
									<a href="{{ post.url_fb }}" {%if post.url_fb and post.url_fb != '#' %} target="_blank" {%endif%} class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="{{ post.url_twitter }}" {%if post.url_twitter and post.url_twitter != '#' %} target="_blank" {% endif %} class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
									<a href="{{ post.url_ig }}" {%if post.url_ig and post.url_ig != '#' %} target="_blank" {% endif %} class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
					{% endfor %}
				</div>
			</div>


			<div class="tm-container-inner tm-featured-image">
				<div class="row">
					<div class="col-12">
						<div class="placeholder-2">
							<div class="parallax-window-2" data-parallax="scroll" data-image-src="{% static 'img/about-05.jpg' %}"></div>		
						</div>
					</div>
				</div>
			</div>


			<div class="tm-container-inner tm-features">
				<div class="row">
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
							<p class="tm-feature-description">Memberikan pelayanan yang baik mengenai teknologi informasi terkini dan solusi dalam bidang IT terkini.</p>
							<a href="https://wa.me/6285646183454/?text=Hallo+kak!?%0DApakah+kami+dapat+konsultasi+mengenai+produk?" class="tm-btn tm-btn-primary">Hubungi Kami</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-seedling tm-feature-icon"></i>
							<p class="tm-feature-description">Memberikan jasa pelayanan dalam pembuatan software aplikasi berbasis web ataupun mobile.</p>
							<a href="https://wa.me/6285646183454/?text=Hallo+kak!?%0DApakah+kami+dapat+konsultasi+mengenai+produk?" class="tm-btn tm-btn-success">Hubungi Kami</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tm-feature">
							<i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
							<p class="tm-feature-description">Memberikan jasa pemeliharaan software apabila terjadi kendala dan tanggung jawab dengan project yang dikerjakan.</p>
							<a href="https://wa.me/6285646183454/?text=Hallo+kak!?%0DApakah+kami+dapat+konsultasi+mengenai+produk?" class="tm-btn tm-btn-danger">Hubungi Kami</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner tm-history">
				<div class="row">
					<div class="col-12">
						<div class="tm-history-inner">
							<img src="{% static 'img/about-06.jpg' %}" alt="Image" class="img-fluid tm-history-img" />
							<div class="tm-history-text"> 
								<h4 class="tm-history-title">Sejarah berdirinya Hayee Cell</h4>
								<p class="tm-mb-45">Hayee Cell didirikan pada tahun 2019 yang pada saat itu owner Hayee Cell masih duduk di bangku perkuliahan semester 5 di Politeknik Kediri.
								Hayee Cell bergerak di bidang IT, menerima jasa pembuatan website aplikasi, dll. Apabila anda tertarik pada produk kami, anda dapat  <a rel="nofollow" href="https://www.instagram.com/blankid__/">menghubungi tim kami</a> mengenai produk pada Haye Cell. Terimakasih.</p>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</main>

{% endblock %}
