{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hayee Cell</title>
    <link href="{% static 'googleapis2.css' %}" rel="stylesheet" />
    <link href="{% static 'googleapis.css' %}" rel="stylesheet" />
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" />   
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
	<style type="text/css">
		.kotak-image{
			max-height: 280px;
			width: 100%;
			object-fit: cover;
		}

		.btn , .btn-success {
		    background-color: #2F956D;
		    color: white;
		}
	</style>
</head>

<body> 

	<div class="container">
	<!-- Top box -->
		
			{% block content %}	
			{% endblock %}
		</main>
		
		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 BahrulHayeCell 
            
            | Design: <a rel="nofollow" href="https://wa.me/6285646183454/?text=Hallo+kak!?%0DGimana+kak+cara+ordernya?">Kontak Saya</a></p>
		</footer>
	</div>
	{% block extrastyle %}	
	{% endblock %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				
				let page = $(this).data("bahrul");
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>


	<!-- JS Halaman Kontak -->
	<script>
		$(document).ready(function(){
			var acc = document.getElementsByClassName("accordion");
			var i;
			
			for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var panel = this.nextElementSibling;
			    if (panel.style.maxHeight) {
			      panel.style.maxHeight = null;
			    } else {
			      panel.style.maxHeight = panel.scrollHeight + "px";
			    }
			  });
			}	
		});
	</script>
</body>
</html>