{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/simple-house-01xxx.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Simple House</h1>
								<h6 class="tm-site-description">new restaurant template</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{% url 'beranda' %}" class="tm-nav-link">Beranda</a></li>
								<li class="tm-nav-li"><a href="{% url 'tentang' %}" class="tm-nav-link">Tentang</a></li>
								<li class="tm-nav-li"><a href="{% url 'kontak' %}" class="tm-nav-link active">Kontak</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Kontak Kami</h2>
				<p class="col-12 text-center">You may use <a rel="nofollow" href="https://www.ltcclock.com/downloads/simple-contact-form/" target="_blank">Simple Contact Form</a> to send email to your inbox. You can modify and use this template for your website. Header image has a parallax effect. Total 3 HTML pages included in this template.</p>
			</header>

			<div class="tm-container-inner-2 tm-contact-section">
				<div class="row">
					<div class="col-md-6">
						<form action="" method="POST" class="tm-contact-form">{% csrf_token %}
							{{ form.as_p }}
					        <!-- <div class="form-group">
					          <input type="text" name="nama_lengkap" class="form-control" placeholder="Nama Lengkap" required="" />
					        </div>
					        
					        <div class="form-group">
					          <input type="email" name="email" class="form-control" placeholder="Email" required="" />
					        </div>
				
					        <div class="form-group">
					          <textarea rows="5" name="pesan" class="form-control" placeholder="Deskripsi" required=""></textarea>
					        </div>-->
					
					        <div class="form-group tm-d-flex">
					          <button type="submit" class="tm-btn tm-btn-success tm-btn-right">
					            Kirim
					          </button>
					        </div> 
						</form>
					</div>
					<div class="col-md-6">
						<div class="tm-address-box">
							<h4 class="tm-info-title tm-text-success">Alamat Kami</h4>
							<address>
								Jl. Bunga, Ngampel, Kec. Mojoroto, Kota Kediri, Jawa Timur 64112
							</address>
							<a href="#" class="tm-contact-link">
								<i class="fas fa-phone tm-contact-icon"></i>085-646-183-454
							</a>
							<a href="mailto:info@company.co" class="tm-contact-link">
								<i class="fas fa-envelope tm-contact-icon"></i>bahrulyahya@gmail.com
							</a>
							<div class="tm-contact-social">
								<a href="https://www.facebook.com/bahrul.yahya.75" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
								<a href="https://twitter.com/BahrulHaye" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
								<a href="https://www.instagram.com/blankid__/" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
 
			<div class="tm-container-inner-2 tm-map-section">
				<div class="row">
					<div class="col-12">
						
						<div class="tm-map">
							<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rumah%20bahrul%20ayee&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner-2 tm-info-section">
				<div class="row">
					<!-- FAQ -->
					<div class="col-12 tm-faq">
						<h2 class="text-center tm-section-title">FAQs</h2>
						<p class="text-center">Beberapa yang sering ditanyakan oleh pelanggan</p>
						<div class="tm-accordion">
							<button class="accordion">1. Fusce eu lorem et dui #09C maximus varius?</button>
							<div class="panel">
							  <p>#666 Duis blandit purus vel nenenatis rutrum. Pellentesque pellentesque tindicunt lorem, ac egestas massa sollicitudin vel. Nam scelerisque vulputate quam mollis pretium. Morbi condimentum volutpat.</p>
							</div>
							
							<button class="accordion">2. Vestibulum #999 ante ipsum primis in faucibus orci?</button>
							<div class="panel">
							  <p>Mauris euismod odio at commodo rhoncus. Maecenas nec interdum purus, sed auctor est. Sed eleifend urna nec diam consectetur, a aliquet turpis facilisis. Integer est sapien, sagittis vel massa vel, interdum euismod erat. Aenean sollicitudin nisi neque, efficitur posuere urna rutrum porta.</p>
							</div>
							
							<button class="accordion">3. Can I redistribute this template as a ZIP file?</button>
							<div class="panel">
							  <p>Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a href="https://templatemo.com/contact">contact TemplateMo</a> for additional permissions about our templates. Thank you.</p>
							</div>
							
							<button class="accordion">4. Ut ac erat sit amet neque efficitur faucibus et in lectus?</button>
							<div class="panel">
								<p>Vivamus viverra pretium ultricies. Praesent feugiat, sapien vitae blandit efficitur, sem nulla venenatis nunc, vel maximus ligula sem a sem. Pellentesque ligula ex, facilisis ac libero a, blandit ullamcorper enim.</p>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</main>
{% endblock %}
	
