{% extends 'frontend/base.html' %}
{% load static humanize %}
{% block content %}
<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/simple-house-01.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Hayee Cell</h1>
								<h6 class="tm-site-description">Diproduksi oleh BahrulHaye CS Group</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{% url 'beranda' %}" class="tm-nav-link active">Beranda</a></li>
								<li class="tm-nav-li"><a href="{% url 'tentang' %}" class="tm-nav-link">Tentang</a></li>
								<li class="tm-nav-li"><a href="{% url 'kontak' %}" class="tm-nav-link">Kontak</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		
		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Selamat Datang di Hayee Cell</h2>
				<p class="col-12 text-center">Hayee Cell menyediakan berbagai macam pulsa dan paket data. Happy Shopping dan jangan lupa untuk mampir.</p>
			</header>

			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" data-bahrul="pulsa-reguler" class="tm-paging-link active">Pulsa Reguler</a></li>
						<li class="tm-paging-item"><a href="#" data-bahrul="paket-data" class="tm-paging-link">Paket Data</a></li>
						<li class="tm-paging-item"><a href="#" data-bahrul="e-wallet" class="tm-paging-link">E-Wallet</a></li>
					</ul>
				</nav>
			</div>
			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-pulsa-reguler" class="tm-gallery-page">
					{% for post in pulsa %}
					<article style="margin: 0px -18px 8px 0px;" class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure style="border: 2px solid red; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
							<img src="{{ post.get_foto }}" alt="hayeecell | {{ post.nama_barang }}" class="img-fluid tm-gallery-img kotak-image" style="max-height: 278px; margin: 0px;" />
							<figcaption style="line-height: 0px !important;">
								<h4 style="padding: 8px; margin: 6px;" class="tm-gallery-title">{{ post.nama_barang }}</h4>
								<p style="padding: 8px; margin: 6px; line-height: 25px;" class="tm-gallery-description">{{ post.deskripsi }}</p>


								<p class="tm-gallery-price"  style="padding: 8px; font-size: 15px; margin: 6px; line-height: 21px;"><s>Rp. {{ post.harga_sebelum_diskon|intcomma }},00</s><br/>Rp. {{ post.harga_sesudah_diskon|intcomma }},00<br>


								<a href="https://wa.me/6285646183454/?text=Hallo+kak!?%0Dsaya+mau+beli+{{ post.nama_barang }}" style="width: 100%; text-align: center;" class="tm-btn tm-btn-primary tm-right"> Beli sekarang!</a></p>
							</figcaption>
						</figure>
					</article>
					{% endfor %}
				</div> <!-- gallery page 1 -->
				
				<!-- gallery page 2 -->
				<div id="tm-gallery-page-paket-data" class="tm-gallery-page hidden">
					{% for post in paket %}
					<article style="margin: 0px -18px 8px 0px;" class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure style="border: 2px solid red; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
							<img src="{{ post.get_foto }}" alt="hayeecell | {{ post.nama_barang }}" class="img-fluid tm-gallery-img kotak-image" />
							<figcaption style="line-height: 0px !important;">
								<h4 style="padding: 8px; margin: 6px;" class="tm-gallery-title">{{ post.nama_barang }}</h4>
								<p style="padding: 8px; margin: 6px; line-height: 25px;" class="tm-gallery-description">{{ post.deskripsi }}</p>


								<p class="tm-gallery-price"  style="padding: 8px; font-size: 15px; margin: 6px; line-height: 21px;"><s>Rp. {{ post.harga_sebelum_diskon|intcomma }},00</s><br/>Rp. {{ post.harga_sesudah_diskon|intcomma }},00<br>


								<a href="https://wa.me/6285646183454/?text=Hallo+kak!?%0Dsaya+mau+beli+{{ post.nama_barang }}" style="width: 100%; text-align: center;" class="tm-btn tm-btn-primary tm-right"> Beli sekarang!</a></p>
							</figcaption>
						</figure>
					</article>
					{% endfor %}
				</div> <!-- gallery page 2 -->
				
				<!-- gallery page 3 -->
				<div id="tm-gallery-page-e-wallet" class="tm-gallery-page hidden">
					{% for post in pulsa %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{ post.get_foto }}" alt="hayeecell | {{ post.nama_barang }}" class="img-fluid tm-gallery-img kotak-image" />
							<figcaption>
								<h4 class="tm-gallery-title">{{ post.nama_barang }}</h4>
								<p class="tm-gallery-description">{{ post.deskripsi }}</p>
								<p class="tm-gallery-price"><s>Rp. {{ post.harga_sebelum_diskon|intcomma }},00</s><br/>Rp. {{ post.harga_sesudah_diskon|intcomma }},00<br>
								<a href="https://wa.me/6285646183454/?text=Hallo+kak!?%0Dsaya+mau+beli+{{ post.nama_barang }}" class="tm-btn tm-btn-primary tm-right">Beli sekarang!</a></p>
								
							</figcaption>
						</figure>
					</article>
					{% endfor %}
				</div> <!-- gallery page 3 -->
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="{% static 'img/about-06.jpg' %}" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-history-text"> 
							<h4 class="tm-history-title">Sejarah berdirinya Hayee Cell</h4>
							<p class="tm-mb-45">Hayee Cell didirikan pada tahun 2019 yang pada saat itu owner Hayee Cell masih duduk di bangku perkuliahan semester 5 di Politeknik Kediri.
							Hayee Cell bergerak di bidang IT, menerima jasa pembuatan website aplikasi, dll. Apabila anda tertarik pada produk kami, anda dapat  <a rel="nofollow" href="https://www.instagram.com/blankid__/">menghubungi tim kami</a> mengenai produk pada Haye Cell. Terimakasih.</p>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock %}